body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    margin: 100;
    padding: 100;
}

.container {
    padding: 20px;
}

.image {
    width: 105%;
    max-width: 800px;
    height: auto;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.info-box {
    background-color: #ffffff;
    border: 2px solid #0042ffe0;
    border-radius: 100px;
    padding: 25px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.info-box:hover {
    background-color: #d5ffdfe0;
}

.info-box h3 {
    margin: 2px 20;
    font-size: 15px;
    color: #ff1f00e0;
}

.info-box p {
    font-size: 13px;
    color: #000000e0;
}

.icon {
    font-size: 20px;
}
.back-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 55px;
    font-size: 18px;
}

.back-button:hover {
    background-color: #ff1f00;
}